# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VSCode (uncomment if you don’t want to share launch configs)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# iOS specific (keep Podfile & Podfile.lock)
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec
/ios/Flutter/Generated.xcconfig
/ios/Flutter/ephemeral/
/ios/.symlinks/
/ios/Pods/
/ios/Runner.xcworkspace/
/ios/DerivedData/
ios/build/

# Assets
# Keep the assets folder itself in Git
# Ignore only temporary/binary files if needed
*.glb